/* 

sun light blue
#9DCAFF

sun medium blue
#4E78A1

sun base blue
#38577A

sun dark blue
#202230

sun yellow
#F7C639

*/


html, body
{
  margin: 0;
  padding: 0;
}

html
{
  background: #202230;
  font-family: 'georgia', serif;
  font-size: 110%;
  line-height: 1.8em;
  color: #4E78A1;
}

body
{
  width: 44em;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 3em;
}

h1
{
  margin-bottom: 0.375em;
  font-size: 3.5em;
  font-weight: normal;
}

h1 a
{
  border-bottom: none;
  text-decoration: none;
  color: #fff;
}

h1 a:hover,
h1 a:focus
h1 a:active
{
  background: transparent;
  color: #9DCAFF;
}

h1 a span
{
  position: relative;
  bottom: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.5em;
  font-size: 0.25em;
}

h2
{
  /*font-family: 'helvetica', 'arial', sans-serif;
		font-weight: bold;*/
  font-size: 1.5em;
  color: #fff;
  line-height: 1.5em;
}

h3
{
  /*font-family: 'helvetica', 'arial', sans-serif;
  font-weight: bold;*/
  font-size: .9em;
  color: #fff;
}
h4
{
	font-size: .75em;
}

ul#navigation
{
  margin: 0em;
  padding: 0em;
  list-style-type: none;
}

ul#navigation li
{
  display: block;
  float: left;
  background: #4E78A1;
}

ul#navigation li a
{
  display: block;
  padding: 0.5em 0.5em;
  border-bottom: none;
  font-size: 1.65em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #fff;

}

ul#navigation li a:hover,
ul#navigation li a:focus,
ul#navigation li a:active
{
  background: #F7C639;
  color: #4E78A1;
}

body#work #header a.work, 
body#home #header a.home, 
body#about #header a.about,
body#mush #header a.mush,
body#blog #header a.blog
{ 
	background: #4E78A1;
  color: #F7C639;
}

div#content
{
	position: relative;
}


div#header
{
  
  padding-top: .1em;
	background: #4E78A1;
	width: 43.5em;
	height: 3.5em;
}


#content img 
{
	margin: 2.5px 2.5px;
}


#twitter-link
{
	color: #9DCAFF;
}

ul#twitter_update_list a
{
	color: #9DCAFF;
}

ul a
{
	color: #9DCAFF;
}

a
{
	color: #9DCAFF;
}

#hello 
{
	margin: 0px 0px 0px 0px
}

code
{
	color: #9DCAFF;
	margin: 1em;
}

#blogtop h3 a
{
	color: #202230;
	font-size: 1.5em;
}

#blogtop h3
{
	color: #202230;
	font-size: 1.5em;
}

#blogtop
{
	background: #4E78A1;
	color: #fff;
	padding: 1em;
	color: #202230;
	font-size: .9em;
	font-family: 'helvetica', 'arial', sans-serif;
}

#blogtop h4 {
  font-weight: normal;
}

#post
{
	color: #202230;
	font-size: 1em;
	font-family: 'helvetica', 'arial', sans-serif;
	background: #4E78A1;
	color: #fff;
	padding: 1em;
}

.email
{
	color: #9DCAFF;
}