/* 

sun light blue
#9DCAFF

sun medium blue
#4E78A1

sun base blue
#38577A

sun dark blue
#202230

sun yellow
#F7C639

*/


html, body
{
  margin: 0;
  padding: 0;
}

html
{
  background: #202230;
  font-family: 'georgia', serif;
  font-size: medium;
  color: #4E78A1;
}

body
{
  width: 975px;
  margin: 0 auto;
  padding-bottom: 3em;
	line-height: 1.75em;
}

h1
{
  margin-bottom: 0.375em;
  font-size: 100%;
  font-weight: normal;
}

h1 a
{
  border-bottom: none;
  text-decoration: none;
  color: #fff;
}

h1 a:hover,
h1 a:focus
h1 a:active
{
  background: transparent;
  color: #9DCAFF;
}

h1 a span
{
  position: relative;
  bottom: 0.5em;
  padding-left: 0.25em;
  padding-right: 0.5em;
  font-size: 0.25em;
}

h2
{
  /*font-family: 'helvetica', 'arial', sans-serif;
		font-weight: bold;*/
  font-size: 1.25em;
  color: #fff;
  line-height: 1.5em;
}

h3
{
  font-weight: normal;
  font-size: 100%;
  color: #fff;
}

h3 a
{
	color: #F7C639;
}
h4
{
	font-size: .7em;
}

ul#navigation
{
  margin: 0em;
  padding: 0em;
  list-style-type: none;
}

ul#navigation li
{
  display: block;
  float: left;
  background: #4E78A1;
}

ul#navigation li a
{
  display: block;
  padding: 0.5em 2.5em 0.6em 2.5em;
  border-bottom: none;
  font-size: 160%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #fff;
}

ul#navigation li a.ksrr
{
	font-size: 60%;	
	letter-spacing: 0.5em;
	padding: 1.25em 2.25em 1.4em 2.5em;
	line-height: 1.5em;
	text-align: center;
}

ul#navigation li a:hover,
ul#navigation li a:focus,
ul#navigation li a:active
{
  background: #F7C639;
  color: #4E78A1;
}

body#work #header a.work, 
body#home #header a.home, 
body#about #header a.about,
body#mush #header a.mush,
body#blog #header a.blog,
body#ksrr #header a.ksrr
{ 
	background: #4E78A1;
  color: #F7C639;
}

div#content
{
	position: relative;
}


div#header
{
  
  padding-top: .1em;
	background: #4E78A1;
	width: 975px;
	height: 3.5em;
}


#content img 
{
	margin: 2.5px 2.5px;
}


#twitter-link
{
	color: #9DCAFF;
	font-size: 90%;
}

ul#twitter_update_list a
{
	color: #9DCAFF;
}

ul a
{
	color: #9DCAFF;
}

a
{
	color: #9DCAFF;
}

#hello 
{
	margin: 0px 0px 0px 0px
}

code
{
	color: #9DCAFF;
}


#blogtop
{
	color: #202230;
	font-family: 'helvetica', 'arial', sans-serif;
	width: 975px;
}

#blogtop h4 {
  font-weight: normal;
}

.blogcontent
{
	background: #4E78A1;
	margin-top: .5em;
	margin-bottom: .5em;
	padding-left: .7em;
	padding-right: .7em;
	padding-top: .25em;
	padding-bottom: .25em;
	color: #fff;
}

.blogcontent h2
{
	color: #F7C639;
}

.blogcontent h3
{
	color: #202230;
	font-weight: bold;
}

#post
{
	color: #202230;
	font-size: 1em;
	font-family: 'helvetica', 'arial', sans-serif;
	background: #4E78A1;
	color: #fff;
	padding: 1em;
}



.post-date
{
	float: left;
}

.excerpt
{
	margin: 0em 1em;
}

.i1
{
	float: left;
}

.i2
{
	float: right;
}





.emailinline
{
	color: #9DCAFF;
}

#pics
{
	height: 150px;
	margin-top: 25px;
	margin-bottom: 25px;
}

#footer
{
	padding-left: .7em;
	padding-right: .7em;
	padding-top: .25em;
	padding-bottom: .25em;
	background: #4E78A1;
	width: 953px;
	float: left;
	color: #fff;
}

.jekyll
{
	float: right;
	padding-left: 500px;
}

#footer.email
{
	float: left;
}

.linkedin
{
	
}
#work-summary
{
	width: 700px;
	margin: 10px;
	float: left;
}
#side-bar
{
	width: 200px;
	float: right;
	height: 750px;
	background-color: #4E78A1;
	padding: 10px;
	margin: 0px 0px 0px 10px;
	text-align: center;
}
.resume a
{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 150%;
  text-decoration: none;
}

#pragbadge
{
	margin: 1em;
}

.csr
{
	color: #F7C639;
	margin-left: 36em;
}

#ksrr-intro
{
	
	padding-left: .7em;
	padding-right: .7em;
	padding-top: .25em;
	padding-bottom: .25em;
	margin-top: .5em;
	color: #202230;
	background-color: #4E78A1;
	font-family: 'helvetica', 'arial', sans-serif;
}